.brand-logo {
    font-family: 'Lobster', cursive;
    color: black; 
}

nav ul li a{
    color: black;
  }    

nav .brand-logo {
    color: black; 
    margin-left: 540px; 
}

/*------- Gallery CSS ------- */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .row{
      margin-left: 120px; 
      margin-top: 100px; 
  }

#pictures{
    margin-left: 50px; 
}

/*------- Blog --------- */ 
.card {
    width: 1000px; 
    margin-left: 30px; 
}

h2{
  margin-left: 300px; 
}

h5{
  margin-left: 330px; 
}

/*--------- BIO ------------- */ 
* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}